<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recipe Management{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>
            <img src="{{ url_for('static', filename='logonew.png') }}" alt="Logo" class="logo">
            Recipe Management
        </h2>
        <ul class="nav flex-column">
            <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
            <li><a href="/raw-material" class="nav-link">Raw Material</a></li>
            <li><a href="/recipe" class="nav-link">Recipe</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Tags</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/tag-overview">Tag Overview</a></li>
                    <li><a class="dropdown-item" href="/live-tag">Live Tag</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/plc">&bull; PLC</a></li>
                    <li><a class="dropdown-item" href="/Users">&bull; Users</a></li>
                    <li><a class="dropdown-item" href="/Role">&bull; Role</a></li>
                    <li><a class="dropdown-item" href="/Assign-Role">&bull; Assign Role</a></li>
                    <li><a class="dropdown-item" href="/Event-Log">&bull; Event Log</a></li>
                </ul>
            </li>
        </ul>
        <a href="/logout" class="logout">Logout</a>
    </div>
    

    <!-- Main Content -->
    <div class="main-content">
        <div class="navbar">
            <div class="user-info">
                <span>Admin</span>
                <a href="/profile"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>

        <!-- Page-specific Content -->
        <div class="page-content">
            {% block content %}
            <!-- Default content -->
            {% endblock %}
        </div>
    </div>
</body>
</html>
