{% extends "base.html" %}

{% block title %}Recipe Management{% endblock %}

{% block content %}
<div class="content-header">
    <h1>Recipe Overview</h1>
    <button onclick="toggleRecipeForm()" class="add-button">+ Add Recipe</button>
</div>

<div id="add-recipe-section">
    <div id="recipe-form">
        <h3>Add New Recipe</h3>
        <button type="button" class="close-button" onclick="toggleRecipeForm()">X</button>
        <form action="/add_recipe" method="POST">
            <label for="recipe_id">Recipe ID:</label>
            <input type="text" id="recipe_id" name="recipe_id" required>

            <label for="filter_size">Filter Size:</label>
            <input type="text" id="filter_size" name="filter_size" required>

            <label for="filter_code">Filter Code:</label>
            <input type="text" id="filter_code" name="filter_code" required>

            <label for="art_no">Art No:</label>
            <input type="text" id="art_no" name="art_no" required>

            {% for i in range(1, 10) %}
            <label for="pos{{ i }}">Pos{{ i }}:</label>
            <select id="pos{{ i }}" name="pos{{ i }}">
                <option value="" disabled selected>Select a value</option>
                {% for value in pos_values %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
            {% endfor %}

            <label for="Alu_coil_width">Alu Coil Width:</label>
            <input type="text" id="Alu_coil_width" name="Alu_coil_width">

            <label for="Alu_roller_type">Alu Roller Type:</label>
            <input type="text" id="Alu_roller_type" name="Alu_roller_type">

            <label for="Spacer">Spacer:</label>
            <input type="text" id="Spacer" name="Spacer">

            <button type="submit" class="submit-button">Submit Recipe</button>
        </form>
    </div>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Recipe ID</th>
                <th>Filter Size</th>
                <th>Filter Code</th>
                <th>Art No</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td><a href="{{ url_for('recipe_details', recipe_id=recipe['Recipe_ID']) }}">{{ recipe['Recipe_ID'] }}</a></td>
                <td>{{ recipe['Filter_Size'] }}</td>
                <td>{{ recipe['Filter_Code'] }}</td>
                <td>{{ recipe['Art_No'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination-container">
    {% if page > 1 %}
      <a href="{{ url_for('index', page=page - 1) }}" class="pagination-btn">Previous</a>
    {% else %}
      <span class="pagination-btn disabled">Previous</span>
    {% endif %}
    
    {% for p in range(1, total_pages + 1) %}
      <a href="{{ url_for('index', page=p) }}" class="pagination-btn {% if p == page %}active{% endif %}">{{ p }}</a>
    {% endfor %}
    
    {% if page < total_pages %}
      <a href="{{ url_for('index', page=page + 1) }}" class="pagination-btn">Next</a>
    {% else %}
      <span class="pagination-btn disabled">Next</span>
    {% endif %}
</div>
{% endblock %}
