{% extends "base.html" %}

{% block title %}Recipe Details{% endblock %}

{% block content %}

<div class="content-header d-flex align-items-center">
    <h1 class="me-3">Recipe Name/Id: {{ Recipe_Name }}/{{ recipe_details[0][15] }}</h1>

    <div class="d-flex gap-2">
        <a href="{{ url_for('export_recipe', recipe_id=recipe_id) }}" class="add-button">
            <i class="fas fa-file-excel"></i> Export
        </a>

        <button id="start-recipe-btn" class="add-button">
            <i class="fas fa-play"></i> Start Recipe
        </button>
    </div>
</div>


<div id="details-section" class="details-section" >
    <h2>Recipe Details</h2>
    <table class="details-table" overflow-x: auto; /* Enable horizontal scrolling */ >
        <thead style="overflow-x: auto; overflow-y: hidden;">
            <tr>
                <th>Id</th><th>Pos1</th><th>Pos2</th><th>Pos3</th>
                <th>Pos4</th><th>Pos5</th><th>Pos6</th><th>Pos7</th>
<tr>
    <td style="color: {{ 'red' if not recipe_details[0][0] else 'black' }}">
        {{ recipe_details[0][0] if recipe_details[0][0] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][1] else 'black' }}">
        {{ recipe_details[0][1] if recipe_details[0][1] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][2] else 'black' }}">
        {{ recipe_details[0][2] if recipe_details[0][2] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][3] else 'black' }}">
        {{ recipe_details[0][3] if recipe_details[0][3] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][4] else 'black' }}">
        {{ recipe_details[0][4] if recipe_details[0][4] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][5] else 'black' }}">
        {{ recipe_details[0][5] if recipe_details[0][5] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][6] else 'black' }}">
        {{ recipe_details[0][6] if recipe_details[0][6] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][7] else 'black' }}">
        {{ recipe_details[0][7] if recipe_details[0][7] else 'none' }}
    </td>
</tr>

<tr>
    <th>Pos8</th><th>Pos9</th><th>Alu_Material</th><th>House_Material</th>
</tr>
<tr>
    <td style="color: {{ 'red' if not recipe_details[0][8] else 'black' }}">
        {{ recipe_details[0][8] if recipe_details[0][8] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][9] else 'black' }}">
        {{ recipe_details[0][9] if recipe_details[0][9] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][13] else 'black' }}">
        {{ recipe_details[0][13] if recipe_details[0][13] else 'none' }}
    </td>
    <td style="color: {{ 'red' if not recipe_details[0][14] else 'black' }}">
        {{ recipe_details[0][14] if recipe_details[0][14] else 'none' }}
    </td>
</tr>

        </thead>
    </table>
</div>

<div id="submenu-section" class="submenu-section">
    <h2>Setting Parameters</h2>
<table class="details-table">
  <thead>
    <tr>
      <th>Recipe ID</th>
      <th>Pleat Height</th>
      <th>Soft Touch</th>
      <th>Feeder1 Media Thickness</th>
      <th>Feeder1 Park Position</th>
      <th>Foil1 Length</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Recipe_ID'] }}</td>
      <td>{{ sub_menu['Pleat_Height'] }}</td>
      <td>{{ sub_menu['Soft_Touch'] }}</td>
      <td>{{ sub_menu['Feeder1_Media_Thickness'] }}</td>
      <td>{{ sub_menu['Feeder1_Park_Position'] }}</td>
      <td>{{ sub_menu['Foil1_Length'] }}</td>
    </tr>

    <tr>
      <th>Foil1 Length Offset</th>
      <th>Foil1 Width</th>
      <th>Puller Start Position</th>
      <th>Autofeeding Offset</th>
      <th>Filter Box Height</th>
      <th>Filter Box Length</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Foil1_Length_Offset'] }}</td>
      <td>{{ sub_menu['Foil1_Width'] }}</td>
      <td>{{ sub_menu['Puller_Start_Position'] }}</td>
      <td>{{ sub_menu['Autofeeding_Offset'] }}</td>
      <td>{{ sub_menu['Filter_Box_Height'] }}</td>
      <td>{{ sub_menu['Filter_Box_Length'] }}</td>
    </tr>

    <tr>
      <th>Pleat Pitch</th>
      <th>Pleat Counts</th>
      <th>Foil Low Diameter</th>
      <th>Feeding Conveyor Speed</th>
      <th>Pack Transfer Rev Position</th>
      <th>Foil1 Tension Set Point</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Pleat_Pitch'] }}</td>
      <td>{{ sub_menu['Pleat_Counts'] }}</td>
      <td>{{ sub_menu['Foil_Low_Diameter'] }}</td>
      <td>{{ sub_menu['Feeding_Conveyor_Speed'] }}</td>
      <td>{{ sub_menu['Pack_Transfer_Rev_Position'] }}</td>
      <td>{{ sub_menu['Foil1_Tension_Set_Point'] }}</td>
    </tr>

    <tr>
      <th>Foil2 Tension Set Point</th>
      <th>Blade Opening</th>
      <th>Press Touch</th>
      <th>Feeder2 Media Thickness</th>
      <th>Feeder2 Park Position</th>
      <th>Foil2 Length</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Foil2_Tension_Set_Point'] }}</td>
      <td>{{ sub_menu['Blade_Opening'] }}</td>
      <td>{{ sub_menu['Press_Touch'] }}</td>
      <td>{{ sub_menu['Feeder2_Media_Thickness'] }}</td>
      <td>{{ sub_menu['Feeder2_Park_Position'] }}</td>
      <td>{{ sub_menu['Foil2_Length'] }}</td>
    </tr>

    <tr>
      <th>Foil2 Length Offset</th>
      <th>Foil2 Width</th>
      <th>Puller End Position</th>
      <th>Puller2 Feed Correction</th>
      <th>Puller Extra Stroke Enable</th>
      <th>Filter Box Width</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Foil2_Length_Offset'] }}</td>
      <td>{{ sub_menu['Foil2_Width'] }}</td>
      <td>{{ sub_menu['Puller_End_Position'] }}</td>
      <td>{{ sub_menu['Puller2_Feed_Correction'] }}</td>
      <td>{{ sub_menu['Puller_Extra_Stroke_Enable'] }}</td>
      <td>{{ sub_menu['Filter_Box_Width'] }}</td>
    </tr>

    <tr>
      <th>Lid Placement Enable</th>
      <th>Lid Placement Position</th>
      <th>Sync Table Start Position</th>
      <th>Batch Count</th>
      <th>Discharge Conveyor Speed</th>
      <th>Pack Transfer Park Position</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Lid_Placement_Enable'] }}</td>
      <td>{{ sub_menu['Lid_Placement_Position'] }}</td>
      <td>{{ sub_menu['Sync_Table_Start_Position'] }}</td>
      <td>{{ sub_menu['Batch_Count'] }}</td>
      <td>{{ sub_menu['Discharge_Conveyor_Speed'] }}</td>
      <td>{{ sub_menu['Pack_Transfer_Park_Position'] }}</td>
    </tr>

    <tr>
      <th>Media Tension Set Point</th>
    </tr>
    <tr>
      <td>{{ sub_menu['Media_Tension_Set_Point'] }}</td>
    </tr>
  </thead>
</table>

    <h2>Air Inspection Settings</h2>
    <table class="details-table">
        <thead>
            <tr>
                <th>DataBase available</th>
                <th>Width</th>
                <th>Height</th>
                <th>Depth</th>
                <th>Art No.</th>
                <th>Air Flow Set</th>
                <th>Pressure Drop Setpoint</th>
            </tr>
            <tr>

                <td>{{ inspection_menu['databaseAvailable'] }}</td>

                <td>{{ inspection_menu['Width'] }}</td>

                <td>{{ inspection_menu['Height'] }}</td>

                <td>{{ inspection_menu['Depth'] }}</td>

                <td>{{ inspection_menu['Art_No'] }}</td>

                <td>{{ inspection_menu['Air_Flow_Set'] }}</td>
                <td>{{ inspection_menu['Pressure_Drop_Setpoint'] }}</td>

                

            </tr>

            <tr>

              

                <th>Lower Tolerance 1</th>

                <th>Lower Tolerance 2</th>

                <th>Upper Tolerance 1</th>

                <th>Upper Tolerance 2</th>



            </tr>

            <tr>

              

                <td>{{inspection_menu['Lower_Tolerance1'] }}</td>

                <td>{{ inspection_menu['Lower_Tolerance2'] }}</td>

                <td>{{ inspection_menu['Upper_Tolerance1'] }}</td>

                <td>{{ inspection_menu['Upper_Tolerance2'] }}</td>

            </tr>           
        </tbody>
    </table>
</div>


<!-- Custom Modal for POS Value Comparison -->
<!-- <div id="comparisonModal" class="custom-modal popup">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h3>POS Value Comparison</h3>
            <button type="button" class="btn-close" onclick="closeCustomModal()">X</button>
        </div>
        <div class="custom-modal-body">
            <ul id="comparisonResults" class="list-group">
                
            </ul>
        </div>
        <div class="custom-modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeCustomModal()">Close</button>
            <button id="next" type="button" class="btn btn-primary" disabled>Next</button>
        </div>
    </div>
</div> -->
<!-- Submenu Popup for Recipe Settings -->
<div id="recipe-popup" class="popup">
    <div class="popup-content">
        <div class="popup-header">
            <h3>Recipe ID: <span id="recipe-Id">{{ sub_menu.Recipe_ID }}</span></h3>
            <h2>Production Details</h2>
            <button type="button" class="close-button" onclick="toggleRecipePopup()">X</button>
        </div>

        <div class="popup-body" style="max-height: 650px; overflow-y: auto;">
            <table class="details-table1">
                <tr>
                   <td>Quantity:</td>
                   <td><input type="text" id="quantity" value="1" placeholder="Enter Quantity"></td>

                    <td>Pleat Height:</td>
                    <td><input type="text" value="{{ sub_menu.Pleat_Height }}" readonly></td>
                    <td>Soft Touch:</td>
                    <td><input type="text" value="{{ sub_menu.Soft_Touch }}" readonly></td>
                    <td>Feeder1 Media Thickness:</td>
                    <td><input type="text" value="{{ sub_menu.Feeder1_Media_Thickness }}" readonly></td>
                </tr>
                <tr>
                    <td>Feeder1 Park Position:</td>
                    <td><input type="text" value="{{ sub_menu.Feeder1_Park_Position }}" readonly></td>
                    <td>Foil1 Length:</td>
                    <td><input type="text" value="{{ sub_menu.Foil1_Length }}" readonly></td>
                    <td>Foil1 Length Offset:</td>
                    <td><input type="text" value="{{ sub_menu.Foil1_Length_Offset }}" readonly></td>
                    <td>Foil1 Width:</td>
                    <td><input type="text" value="{{ sub_menu.Foil1_Width }}" readonly></td>
                </tr>
                <tr>
                    <td>Puller Start Position:</td>
                    <td><input type="text" value="{{ sub_menu.Puller_Start_Position }}" readonly></td>
                    <td>Autofeeding Offset:</td>
                    <td><input type="text" value="{{ sub_menu.Autofeeding_Offset }}" readonly></td>
                    <td>Filter Box Height:</td>
                    <td><input type="text" value="{{ sub_menu.Filter_Box_Height }}" readonly></td>
                    <td>Filter Box Length:</td>
                    <td><input type="text" value="{{ sub_menu.Filter_Box_Length }}" readonly></td>
                </tr>
                <tr>
                    <td>Pleat Pitch:</td>
                    <td><input type="text" value="{{ sub_menu.Pleat_Pitch }}" readonly></td>
                    <td>Pleat Counts:</td>
                    <td><input type="text" value="{{ sub_menu.Pleat_Counts }}" readonly></td>
                    <td>Foil Low Diameter:</td>
                    <td><input type="text" value="{{ sub_menu.Foil_Low_Diameter }}" readonly></td>
                    <td>Feeding Conveyor Speed:</td>
                    <td><input type="text" value="{{ sub_menu.Feeding_Conveyor_Speed }}" readonly></td>
                </tr>
                <tr>
                    <td>Pack Transfer Rev Position:</td>
                    <td><input type="text" value="{{ sub_menu.Pack_Transfer_Rev_Position }}" readonly></td>
                    <td>Foil1 Tension Set Point:</td>
                    <td><input type="text" value="{{ sub_menu.Foil1_Tension_Set_Point }}" readonly></td>
                    <td>Foil2 Tension Set Point:</td>
                    <td><input type="text" value="{{ sub_menu.Foil2_Tension_Set_Point }}" readonly></td>
                    <td>Blade Opening:</td>
                    <td><input type="text" value="{{ sub_menu.Blade_Opening }}" readonly></td>
                </tr>
                <tr>
                    <td>Press Touch:</td>
                    <td><input type="text" value="{{ sub_menu.Press_Touch }}" readonly></td>
                    <td>Feeder2 Media Thickness:</td>
                    <td><input type="text" value="{{ sub_menu.Feeder2_Media_Thickness }}" readonly></td>
                    <td>Feeder2 Park Position:</td>
                    <td><input type="text" value="{{ sub_menu.Feeder2_Park_Position }}" readonly></td>
                    <td>Foil2 Length:</td>
                    <td><input type="text" value="{{ sub_menu.Foil2_Length }}" readonly></td>
                </tr>
                <tr>
                    <td>Foil2 Length Offset:</td>
                    <td><input type="text" value="{{ sub_menu.Foil2_Length_Offset }}" readonly></td>
                    <td>Foil2 Width:</td>
                    <td><input type="text" value="{{ sub_menu.Foil2_Width }}" readonly></td>
                    <td>Puller End Position:</td>
                    <td><input type="text" value="{{ sub_menu.Puller_End_Position }}" readonly></td>
                    <td>Puller2 Feed Correction:</td>
                    <td><input type="text" value="{{ sub_menu.Puller2_Feed_Correction }}" readonly></td>
                </tr>
                <tr>
                    <td>Puller Extra Stroke Enable:</td>
                    <td><input type="text" value="{{ sub_menu.Puller_Extra_Stroke_Enable }}" readonly></td>
                    <td>Filter Box Width:</td>
                    <td><input type="text" value="{{ sub_menu.Filter_Box_Width }}" readonly></td>
                    <td>Lid Placement Enable:</td>
                    <td><input type="text" value="{{ sub_menu.Lid_Placement_Enable }}" readonly></td>
                    <td>Lid Placement Position:</td>
                    <td><input type="text" value="{{ sub_menu.Lid_Placement_Position }}" readonly></td>
                </tr>
                <tr>
                    <td>Sync Table Start Position:</td>
                    <td><input type="text" value="{{ sub_menu.Sync_Table_Start_Position }}" readonly></td>
                    <td>Batch Count:</td>
                    <td><input type="text" value="{{ sub_menu.Batch_Count }}" readonly></td>
                    <td>Discharge Conveyor Speed:</td>
                    <td><input type="text" value="{{ sub_menu.Discharge_Conveyor_Speed }}" readonly></td>
                    <td>Pack Transfer Park Position:</td>
                    <td><input type="text" value="{{ sub_menu.Pack_Transfer_Park_Position }}" readonly></td>
                </tr>
                <tr>
                    <td>Media Tension Set Point:</td>
                    <td><input type="text" value="{{ sub_menu.Media_Tension_Set_Point }}" readonly></td>
                </tr>
            </table>

            <div class="popup-footer">
                <button id="final_submit" type="button" class="start-button" onclick="startRecipe('{{ sub_menu.Recipe_ID }}')">Start</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {    
        // Directly open the recipe popup when "Start Recipe" is clicked
        document.getElementById('start-recipe-btn').addEventListener('click', toggleRecipePopup);
        // const barcodeValue = "{{ barcode_value }}"; // Pass barcode value from Flask
        //const posValues = JSON.parse('{{ pos_values | tojson | safe }}');
        //const comparisonResults = document.getElementById('comparisonResults');
        //const next = document.getElementById('next');

       // let matchedPosCount = 0;

       // function openComparisonModal() {
            // Clear previous results
        //    comparisonResults.innerHTML = '';
         //   matchedPosCount = 0; // Reset the matched count

            // Create comparison option for each POS value
           // posValues.forEach((posValue, index) => {
             //   const li = document.createElement('li');
               // li.className = 'list-group-item d-flex justify-content-between align-items-center';

                // Add index (POS1, POS2, ...) and value to each POS
                //  Received Value: ${barcodeValue}
                //const posText = `POS${index + 1} : ${posValue !== null ? posValue : "Unavailable"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;

                // Add text content
            //    const textSpan = document.createElement('span');
              //  textSpan.innerHTML = posText;
                //li.appendChild(textSpan);

                // Only add compare button for non-null values
          //      if (posValue !== null) {
            //        const compareButton = document.createElement('button');
              ///      compareButton.className = 'btn btn-primary btn-sm';
             //       compareButton.textContent = 'Compare';
             //       compareButton.addEventListener('click', () => comparePosValue(posValue, index));

              //      li.appendChild(compareButton);
                //}

                //comparisonResults.appendChild(li);
           // });

             // Show the modal
             //const modal = document.getElementById('comparisonModal');
            //modal.style.display = 'block'; // Show the modal
       // }
    // Function to close the custom modal
   // function closeCustomModal() {
      //      const modal = document.getElementById('comparisonModal');
        //    modal.style.display = 'none'; // Hide the modal
      //  }
     //  function comparePosValue(posValue, index) {
            // Compare the POS value with the barcode
            //fetch('/compare-pos', {
           //     method: 'POST',
           //     headers: { 'Content-Type': 'application/json' },
           //     body: JSON.stringify({ posValue})
          //  })
          //  .then(response => response.json())
          //  .then(result => {
           //     const li = comparisonResults.children[index];
          //      const compareButton = li.querySelector('button');
           ///     const isMatch = result.match;

              //  if (isMatch) {
              //      li.classList.add('list-group-item-success');
              //      li.classList.remove('list-group-item-danger');
              //      li.querySelector('span').innerHTML = `POS${index + 1} : ${posValue} ✔ Match &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;
             //       matchedPosCount++;
              //  } else {
               //     li.classList.add('list-group-item-danger');
               //     li.classList.remove('list-group-item-success');
               //     li.querySelector('span').innerHTML = `POS${index + 1} : ${posValue} ✘ Mismatch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;
              //  }

                // Disable the button after comparison
             //   compareButton.disabled = true;

                // Enable the "Start Recipe" button only if all available POS values are matched
             //   if (matchedPosCount === posValues.filter(posValue => posValue !== null).length) {
               ///     next.disabled = false;
              //  } else {
               //     next.disabled = true;
           //     }
            //})
          //  .catch(error => {
          ///      console.error('Error comparing POS value:', error);
         //       alert('An error occurred during the comparison.');
          ///  });
    //    }

        // Attach openComparisonModal to the start recipe button
        //document.getElementById('start-recipe-btn').addEventListener('click', openComparisonModal);
       //document.getElementById('comparisonModal').addEventListener('hidden.bs.modal', function () {
       //     matchedPosCount = 0; // Reset the matched count
        //     next.disabled = true; // Disable the Start Recipe button
      //  });
 // Attach closeCustomModal to the cross button
// document.querySelector('.btn-close').addEventListener('click', closeCustomModal);
    
    // Handle the "Next" button click
  //  next.addEventListener("click", function () {
        // Check if all conditions are matched
      //  const allMatched = matchedPosCount === posValues.filter(posValue => posValue !== null).length;
      //  if (allMatched) {
     //       closeCustomModal(); // Close the modal
      //      proceedToRecipeSettings(); // Open submenu for recipe settings
    //    } else {
    //        alert("Please match all POS values first.");
      //  }
  //  });

    function toggleRecipePopup() {
        const popup = document.getElementById("recipe-popup");
        popup.style.display = popup.style.display === "block" ? "none" : "block";
    }
    // Function to close the popup when clicking outside or on the close button
function closePopup(event) {
    const popup = document.getElementById("recipe-popup");
    const popupContent = document.querySelector(".popup-content");

    // If the clicked target is the popup background (not the content), close the popup
    if (event.target === popup) {
        popup.style.display = "none";
    }
}
// Attach event listener to the document to detect clicks outside the popup content
document.addEventListener('click', closePopup);

// Close popup when the close button is clicked
document.querySelector('.close-button').addEventListener('click', function() {
    toggleRecipePopup();
});
    function proceedToRecipeSettings() {
        toggleRecipePopup();
    }
  
   document.getElementById("final_submit").addEventListener('click', function () {
    // Node ID and value for starting the recipe
    const recipeNodeId = 'ns=3;s="dbRecipe"."Recipe"."decoilerSelection"[13]'; // Replace with actual node ID
    const recipeValue = True; // Value to write to the recipe start node

    // Node ID and value for quantity
    // const quantityNodeId = 200; // Replace with actual quantity node ID
    let quantityValue = document.getElementById("quantity").value; // Get user input for quantity
    quantityValue = parseInt(quantityValue, 10); // Convert to integer
    // if (!quantityValue || isNaN(quantityValue) || quantityValue <= 0) {
    //     alert('Please enter a valid quantity.');
    //     return;
    // }
   
    // Send both write requests to the server
    const requests = [
        fetch('/writeValue', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ nodeId: recipeNodeId, value: recipeValue }),
        }),
        // fetch('/writeValue', {
        //     method: 'POST',
        //     headers: { 'Content-Type': 'application/json' },
        //     body: JSON.stringify({ nodeId: quantityNodeId, value: quantityValue }),
        // }),
    ];

    // Handle the responses
    Promise.all(requests)
        .then(responses => Promise.all(responses.map(res => res.json())))
        .then(dataArray => {
            const recipeResponse = dataArray[0];
            // const quantityResponse = dataArray[1];

            if (recipeResponse.success) {
                alert('Recipe started successfully and quantity set!');
                // Close the popup if everything is set properly
                toggleRecipePopup();
            } else {
                let errorMessage = 'Errors occurred:\n';
                if (!recipeResponse.success) {
                    errorMessage += `- Starting recipe: ${recipeResponse.error}\n`;
                }
                // if (!quantityResponse.success) {
                //     errorMessage += `- Setting quantity: ${quantityResponse.error}\n`;
                // }
                alert(errorMessage);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while starting the recipe or setting the quantity.');
        });
});

        });
    function loadRecipeSettings(recipeId) {
    fetch(`/api/sub_menu/${recipeId}`)
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                document.getElementById("recipeId").value = data.Recipe_ID || "";
document.getElementById("motor-speed").value = data.motor_speed || "";
document.getElementById("motor-stroke").value = data.motor_stroke || "";
document.getElementById("speed-force").value = data.other_speed_force || "";
document.getElementById("coil-width").value = data.alu_coil_width || "";
document.getElementById("corr1-feed-length").value = data.corr1_feed_length || "";
document.getElementById("corr2-feed-length").value = data.corr2_feed_length || "";
document.getElementById("pleat-height").value = data.pleat_height || "";
document.getElementById("blade-opening").value = data.blade_opening || "";
document.getElementById("left-blade-media-thickness").value = data.left_blade_media_thickness || "";
document.getElementById("right-blade-media-thickness").value = data.right_blade_media_thickness || "";
document.getElementById("soft-touch").value = data.soft_touch || "";
document.getElementById("press-touch").value = data.press_touch || "";
document.getElementById("puller-start-pos").value = data.puller_start_pos || "";
document.getElementById("puller-end-pos").value = data.puller_end_pos || "";
document.getElementById("puller2-feed-correction").value = data.puller2_feed_correction || "";
document.getElementById("filter-box-height").value = data.filter_box_height || "";
document.getElementById("filter-box-width").value = data.filter_box_width || "";
document.getElementById("filter-box-length").value = data.filter_box_length || "";
document.getElementById("set-pleat-count").value = data.set_pleat_count || "";
document.getElementById("set-pleat-pitch").value = data.set_pleat_pitch || "";
document.getElementById("set-batch-count").value = data.set_batch_count || "";
document.getElementById("machine-speed-ref").value = data.machine_speed_ref || "";
document.getElementById("decoiler-set-point").value = data.decoiler_set_point || "";
document.getElementById("low-dia-set").value = data.low_dia_set || "";
document.getElementById("cutter-park-pos").value = data.cutter_park_pos || "";
document.getElementById("cutter-fwd-pos").value = data.cutter_fwd_pos || "";

            }
        })
        .catch(error => {
            console.error("Error fetching submenu data:", error);
            alert("Failed to load submenu data.");
        });
}
function startRecipe(recipeId) {
    const quantity = document.getElementById("quantity").value.trim(); // Trim to remove spaces

    // // Validate quantity (should not be empty, NaN, or <= 0)
    // if (!quantity || isNaN(quantity) || Number(quantity) <= 0) {
    //     alert("Please enter a valid positive quantity.");
    //     return;
    // }

    // Send data to the backend using a POST request
    fetch(`/start_recipe/${recipeId}`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ quantity: quantity }),
    })
    .then((response) => response.json()) // Parse JSON response
    .then((data) => {
        if (data.error) {
            alert(`Error in Starting : ${data.error}`); // Show error from backend
        } else {
            alert("Recipe started successfully! Batch Code: " + data.batch_code);
           
 // ✅ Close popup after success
        const popup = document.getElementById("recipe-popup");
        popup.style.display = "none";
        }
    })
    .catch((error) => {
        console.error("Error:", error);
        alert("An unexpected error occurred.");
    });
}


</script>
<style>

    /* Custom Modal Styles */
    .custom-modal {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 190;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        backdrop-filter: blur(5px); /* Blur effect for the background */
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    
    .custom-modal-content {
        background-color: #e7e1e9;
        border-radius: 10px;
        margin-left: 38%;
        margin-top: 2%;
        width: 400px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    
    .custom-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .custom-modal-header h3 {
        margin: 0;
        font-size: 18px;
    }
    
    .btn-close {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
    
    .custom-modal-body {
        margin-bottom: 15px;
    }
    
    .list-group {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .list-group li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .custom-modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    
    .btn-secondary,
    .btn-primary {
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .btn-secondary {
        background-color: #6c757d;
        color: white;
    }
    
    .btn-primary {
        background-color: #007bff;
        color: white;
    }
    
    .btn-primary:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    /* Popup Styles */
    .popup {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        backdrop-filter: blur(5px); /* Blur effect for the background */
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    
    .popup-content {
        background-color: #aed6ed;
        border-radius: 10px;
        width: 1111px;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    
    .popup-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .popup-header h3 {
        margin: 0;
        font-size: 18px;
    }
    .start-button {
        background-color: #28a745; /* Green background */
        color: white; /* White text */
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        margin-top: 0.4%;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .start-button:hover {
        background-color: #218838; /* Darker green on hover */
        transform: scale(1.05); /* Slight zoom effect */
    }
    
    .start-button:active {
        background-color: #1e7e34; /* Even darker green when clicked */
        transform: scale(0.95); /* Button press effect */
    }
    .details-table {
        border-collapse: collapse;
        width: 100%;
        text-align: center; /* Centers text horizontally */
    }
    
    .details-table th, .details-table td {
        padding: 4px; /* Reduces spacing */
        white-space: nowrap; /* Prevents text from wrapping */
        text-align: center; /* Centers text horizontally */
        vertical-align: middle; /* Centers text vertically */
        border: 1px solid black; /* Adds border for clarity */
    }
    </style>
{% endblock %}
