{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Tag Overview</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tag ID</th>
                <th>Tag Name</th>
                <th>Tag Address</th>
                <th>Plc ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr id="row-{{ tag.tagId }}">
               <td>{{ tag.tagId }}</td>
               <td>{{ tag.tagName }}</td>
               <td>{{ tag.tagAddress }}</td>
               <td>{{ tag.plcId }}</td>
               <td>
                   <button class="delete-button" onclick="confirmDelete('{{ tag.tagId }}')">
                      <i class="fa fa-trash"></i>
                   </button>
                </td>
            </tr>
{% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}
